<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSON文件格式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F09BEE9D1F55025B00383138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F09BEEB61F55025C00383138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F09BEEC11F55025C00383138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
